.posts-container {
  max-width: 100vw;
}

.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paging-container {
  min-width: 15rem;
  display: flex;
  justify-content: space-between;
}
