.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paging-container {
  min-width: 20rem;
  display: flex;
  justify-content: space-between;
}
