.post-listing {
  list-style: none;
  padding: 0;
}

.post-preview {
  border-bottom: 1px solid #787878;
  padding: 1rem;
  display: block;
  margin-top: 1rem;
}

.post-preview header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post-preview:hover header {
  color: var(--theme-color);
}

.post-preview footer {
  margin-top: 1.5rem;
  display: flex;
}

.post-preview footer > * {
  margin-right: 1rem;
  color: #787878;
}

.post-preview h2 {
  margin: 0;
}
