* {
  box-sizing: border-box;
}

:root {
  --theme-color: #ffe400;
}

.theme-color {
  color: var(--theme-color);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content-container {
  flex-grow: 1;
  min-width: 60%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
